header {
    text-align: center;
}

Main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

header p {
     background-color: rgb(243, 246, 151);
     margin: 0;
     padding-top: 1em;
     padding-bottom:1em;
     color: green;
    margin: auto 0;
}

span{
    font-weight: bold;
}

#centrato p{
    text-align: center;
    color:grey;
}

#linea{
    padding-left: 20px;
    border-left:solid yellow 3px;
    color:red
}

#linea :nth-child(2){
    color: green;
}

#left hr{
    border: solid rgb(82, 230, 225) 1px;
}
